name: Build API Docs
on: [push, pull_request]
jobs:
  build_docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: sudo apt-get install -y doxygen graphviz
      - run: cd docs && make
      - uses: actions/upload-pages-artifact@v3
        with:
          path: docs/html

  deploy:
    needs: build_docs
    if: github.ref == 'refs/heads/main'
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/configure-pages@v4
      - uses: actions/deploy-pages@v2
